* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "common/vars";
@import "common/grid";
@import "common/fonts";
@import "common/section";

@import "components/button";

@import "components/features/features";

@import "components/layout/header";
@import "components/layout/sidebar";
@import "components/layout/foorer";

@import "components/sections/hero";
